
 <div class="mainContent">

<button class="toDoBtn">To Do List</button>
<% @incompleteTasks.each do |element| %>
	<ul class = "taskList">
		<div class="task">
		
			<li class = "taskList__task"><%= element["task"] %></li>
			
			<div class="icons">
				<form method="post" action="/delete"> 
					<input type="hidden" name="num" value ="<%= element["id"]%>">
					<span title="Delete Task"><input class ="delete-edit" type="image" src="/images/delete-icon.png" alt="D"></span>
				</form>
				
				<span title="Edit Task"><input type="image" src="/images/edit-icon.png" name="edit" class = "edit" id="<%=element["id"]%>"/></span>

			</div>

			<div class="ETmodalBackground" id="modal<%=element[3]%>">
				<div class="editTaskModal">

					<form method="post" action="/edit/process" >
							
								<input class="enterTask" type="text" name="task" value="<%= element["task"] %>">
							
							
							<div>
								<p class="editFamilyHeader">Family Member</p>
							</div>
							<div>
								<div>
								  <label>
								   <input class="editNamesList" type="radio" name="person" value="Bob" <%= "checked" if element["name"] == 1 %>>
								    Bob
								  </label>
								</div>

								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="person" value="Mary" <%= "checked" if element["name"] == 2 %>>
								    Mary
								  </label>
								</div>

								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="person" value="Joe" <%= "checked" if element["name"] == 3 %>>
								    Joe
								  </label>
								</div>

								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="person" value="Lisa" <%= "checked" if element["name"] == 4 %>>
								    Lisa
								  </label>
								</div>
							</div>
							<div>
								<p class="editFamilyHeader">Status</p>
							</div>
							<div>
								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="status" value=2 <%= "checked" if element["status"] == 2 %>>
								    Incomplete
								  </label>
								</div>

								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="status" value=1 <%= "checked" if element["status"] == 1 %>>
								    Complete
								  </label>
								</div>
							</div>

							<input type="hidden" name="num" value="<%= element["id"] %>">

							<button  class="editaddSubmitButton" type="submit" value="Submit">Submit</button>
					  		
					</form>
					<button class="cancelButton">Cancel</button>
				</div>
			</div>
				
			
		</div>
	</ul>
	

<% end %>

<button class="completeBtn">Completed Tasks</button>
<% @completedTasks.each do |element| %>
	<ul class="completeTaskList">
		<div class="completeTask">
		<li class="taskList__task"><%= element["task"] %></li>
			<div class="icons">
				<form method="post" action="/delete"> 
					<input type="hidden" name="num" value ="<%= element["id"]%>">
					<span title="Delete Task"><input class ="delete-edit" type="image" src="/images/delete-icon.png" alt="D"></span>
				</form>
				<span title="Edit Task"><input type="image" src="/images/edit-icon.png" name="edit" class = "edit" id="<%=element[3]%>"/></span>
			</div>

			<div class="ETmodalBackground" id="modal<%=element["id"]%>">
				<div class="editTaskModal">

					<form method="post" action="/edit/process" >
							
							<div>
								<input class="enterTask" type="text" name="task" value="<%= element["task"]  %>">
							</div>
							
							<div>
								<p class="editFamilyHeader">Family Member</p>
							</div>
							<div>
								<div>
								  <label>
								   <input class="editNamesList" type="radio" name="person" value=1<%= "checked" if element["name"] == 1 %>>
								    Bob
								  </label>
								</div>

								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="person" value=2 <%= "checked" if element["name"] == 2 %>>
								    Mary
								  </label>
								</div>

								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="person" value=3 <%= "checked" if element["name"] == 3 %>>
								    Joe
								  </label>
								</div>

								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="person" value=4 <%= "checked" if element["name"] == 4 %>>
								    Lisa
								  </label>
								</div>
							</div>
							<div>
								<p class="editFamilyHeader">Status</p>
							</div>
							<div>
								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="status" value=2 <%= "checked" if element["status"] == 2 %>>
								    Incomplete
								  </label>
								</div>

								<div>
								  <label>
								    <input class="editNamesList" type="radio" name="status" value=1 <%= "checked" if element["status"] == 1 %>>
								    Complete
								  </label>
								</div>
							</div>

							<input type="hidden" name="num" value="<%= element["id"] %>">

							<button  class="editaddSubmitButton" type="submit" value="Submit">Submit</button>
					  		
					</form>
					<button class="cancelButton">Cancel</button>
				</div>
			</div>

		
		</div>

	</ul>
<% end %>

</div>




<div class="ATmodalBackground">
	<div class="addTaskModal">

		<form method="post" action="/new/process" >
			<div><input class="enterTask" type="text" name="task" placeholder="Task..."></div>

			<div>
			  <label>
			   <input class="addNamesList" type="radio" name="person" value=1 checked>
			    Bob
			  </label>
			</div>

			<div>
			  <label>
			    <input class="addNamesList" type="radio" name="person" value=2>
			    Mary
			  </label>
			</div>

			<div>
			  <label>
			    <input class="addNamesList" type="radio" name="person" value=3>
			    Joe
			  </label>
			</div>

			<div>
			  <label>
			    <input class="addNamesList" type="radio" name="person" value=4>
			    Lisa
			  </label>
			</div>


			<input class="editaddSubmitButton" type="submit">
		</form>
			<button class="ATcancelButton">Cancel</button>

	</div>
</div>
